<!DOCTYPE html>
<html>
  <head>
    <title>Game Boy Screen Designer</title>
    <link href="stylesheets/sketch.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
  </head>
  <body>
