<!DOCTYPE html>
<html>
  <head>
    <title>Game Boy Sprite Editor</title>
    <link href="stylesheets/sketch.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.2.1.min.js"
      integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
      crossorigin="anonymous">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/howler/2.0.7/howler.min.js">
    </script>
  </head>
  <body>
