<% include partials/header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="bg1" class="parallax content">
            <div class="textContainer">
              <h1>About Me</h1>
              <p>This is the portfolio of web developer Stephen Jackson. Scroll down for my GitHub, LinkedIn, and links to my previous projects.</p>
            </div>
          </div>
          <div id="bg2" class="parallax content">
            <div class="textContainer">
              <a href="https://github.com/stephjackson">GitHub</a>
              <p>A repository for my projects.</p>
            </div>
          </div>
          <div id="bg3" class="parallax content">
            <div class="textContainer">
              <a href="/">LinkedIn</a>
              <p>My resume.</p>
            </div>
          </div>
          <div id="bg4" class="parallax content">
            <div class="textContainer">
              <a href="/gbsketch">Game Boy Sprite Designer</a>
              <p>Very simple interface to create pictures using the Game Boy color palette. Uses jQuery to manipulate a CSS grid. Made before Ironhack</p>
            </div>
          </div>
          <div id="bg5" class="parallax content">
            <div class="textContainer">
              <a href="https://stephjackson.github.io/project-pokemon-battle-simulator/">Pokemon Battle Simulator</a>
              <p>An emulation of Pokemon battles based on the popular Game Boy games. Made in Javascript.</p>
            </div>
          </div>
          <div id="bg6" class="parallax content">
            <div class="textContainer">
              <a href="https://hushlink.herokuapp.com/">Hushlink</a>
              <p>A social media website where the only user-to-user communication is posting links to websites to a user feed. Made with Node, Express, and Mongo.</p>
            </div>
          </div>
          <div id="bg7" class="parallax content">
            <div class="textContainer">
              <a href="https://practicesessiontracker.herokuapp.com/">Practicer</a>
              <p>An utility for musicians to create practice sessions and track their progress. Made with MEAN stack.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<% include partials/footer %>
