<% include partials/header %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div id="bg1" class = "parallax content">
            <div class="textContainer">
              <h1>About Me</h1>
              <p>This is the portfolio of web developer Stephen Jackson. Scroll down for my GitHub, LinkedIn, and links to my previous projects.</p>
            </div>
          </div>
          <div id="bg2" class = "parallax content">
            <div class="textContainer">
              <a href="https://github.com/stephjackson">GitHub</a>
              <p>A repository for my projects.</p>
            </div>
          </div>
          <div id="bg3" class = "parallax content">
            <div class="textContainer">
              <a href="/">LinkedIn</a>
              <p>My resume.</p>
            </div>
          </div>
          <div id="bg4" class = "parallax content">
            <div class="textContainer">
              <a href="/gbsketch">Game Boy Sprite Designer</a>
              <p>Very simple interface to create pictures using the Game Boy color palette. Uses jQuery to manipulate a CSS grid.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

<% include partials/footer %>
