@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0px;
  z-index: 0;
  font-family: Questrial;
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 2px 2px #222222;
  padding-top: 30px;
}

.lightGrayContainer {
  width: 900px;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #535356;
  border-top-left-radius: 30px;
  border-top-right-radius: 8px;
  background-color: #C3BFBC;
}

.darkGrayContainer {
  width: 700px;
  position: relative;
  margin: auto;
  margin-top: 65px;
  background-color: #535356;
  border-radius: 30px;
  border-bottom-right-radius: 120px;
}

.container {
  display: grid;
  width: 448px;
  grid-gap: 0px;
  grid-template-columns: repeat(56, 8px);
  margin: auto;
  position: relative;
  border: 4px solid black;
}

.box {
  padding: 4px;
  background-color: #9bbc0f;
  z-index: 1;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 8px;
  border-bottom: 3px solid #A04F87;
  border-top: 3px solid #48337A;
  top: 0;
  width: 25%;
}
.fancy span:before {
  right: 100%;
  margin-right: 5%;
}
.fancy span:after {
  left: 100%;
  margin-left: 5%;
}

.mobile {
  visibility: hidden;
}

#animation {
  font-family: "Press Start 2P";
  position: fixed;
  animation-duration: 6s;
  animation-name: startscreen;
  animation-timing-function: linear;
  z-index: 2;
  visibility: hidden;
  margin-left: 30%;
}

@keyframes startscreen {
  from {
    margin-top: 9%;
    visibility: visible;
  }

  66% {
    margin-top: 31.25%;
  }

  to {
    margin-top: 31.25%;
  }
}

@media screen and (orientation: portrait)
{
  .lightGrayContainer {
    height: 1200px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 120px;
  }
}

/* .darkestGreen {
  background-color: #0f380f
}

.darkGreen {
  background-color: #306230
}

.lightGreen {
  background-color: #8bac0f
}

.lightestGreen {
  background-color: #9bbc0f
} */
