@import url('https://fonts.googleapis.com/css?family=Questrial');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html, body {
  height: 100%;
}

body {
  margin: 0 auto;
  padding: 0px;
  z-index: 0;
  font-family: Questrial;
  background-color: #C3BFBC
}

h1 {
  color: white;
  text-align: center;
  text-shadow: 1px 2px 2px #222222;
}

.darkGrayContainer {
  width: 700px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  background-color: #535356;
  border-radius: 30px;
}

.container {
  display: grid;
  width: 448px;
  grid-gap: 0px;
  grid-template-columns: repeat(56, 8px);
  margin: auto;
  position: relative;
  border: 4px solid black;
}

.box {
  padding: 4px;
  background-color: #9bbc0f;
  z-index: 1;
}

.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 8px;
  border-bottom: 4px solid #A04F87;
  border-top: 4px solid #48337A;
  top: 0;
  width: 20%;
}
.fancy span:before {
  right: 100%;
  margin-right: 5%;
}
.fancy span:after {
  left: 100%;
  margin-left: 5%;
}

.mobile {
  visibility: hidden;
}

#animation {
  font-family: "Press Start 2P";
  position: fixed;
  animation-duration: 6s;
  animation-name: startscreen;
  z-index: 2;
  visibility: hidden;
  margin-left: 40%;
}

@keyframes startscreen {
  from {
    margin-top: 10%;
    visibility: visible;
  }

  66% {
    margin-top: 40%;
  }

  to {
    margin-top: 40%;
  }
}

/* @media screen and (orientation: portrait), screen and (max-width: 700px) {
  .body {
    background-color: #535356
  }

  .darkGrayContainer {
    height: 100%;
    width: 100%;
    border-radius: 0;
    margin-left: 0%;
    margin-right: 0%;
  }

  .fancy span{
    visibility: hidden;
  }

  .mobile {
    visibility: visible;
  }

  @keyframes startscreen {
    from {
      visibility: visible;
      margin-top: 10%;
    }

    66% {
      margin-top: 40%;
    }

    to {
      margin-top: 40%;
    }
  }
} */

/* .darkestGreen {
  background-color: #0f380f
}

.darkGreen {
  background-color: #306230
}

.lightGreen {
  background-color: #8bac0f
}

.lightestGreen {
  background-color: #9bbc0f
} */
